<html>
  <head>
    <title>YouTube Watch Statistics</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename="css/style.css")}}">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </head>
  <body>
    <section class="page-header">
    <p> Thank you for helping us improve our service! We're very sorry for the inconvience and we'll get this bug fixed straight away!
    </section>
    <section class="main-content"/>
    
    <section class="site-footer">
        <center>
        <a href="https://twitter.com/marckkhoury?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-screen-name="false" data-show-count="false">Follow @marckkhoury</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <a class="github-button" href="https://github.com/marckhoury/youtubewatchstats" data-color-scheme="no-preference: light; light: light; dark: light;" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star marckhoury/youtubewatchstats on GitHub">Star</a> 
        </center>
    </section>
  </body>
</html>
